@import "vars";

@mixin bottones {
  width: 120px;
  height: 20px;
  border-radius: 8px;
  font-family: $font-poppins;
  font-size: 14px;
  text-align: center;
  border: black 1px solid;
  padding: 4px 2px;
  font-weight: 400;
  padding-bottom: 6px;
}

@mixin bottoneshead {
  width: 120px;
  height: 20px;
  border-radius: 8px;
  font-family: $font-poppins;
  font-size: 14px;
  text-align: center;
  border: none;
  padding: 4px 2px;
  font-weight: 400;
  padding-bottom: 6px;
}


* {
  margin: 0;
}
  
/* Top menu bar */

.nav__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__iconimage {
  width: 88px;
  height: 44px;
  padding-top: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.header__checkoutImage {
  width: 120px;
  height: 130px;
  margin-top: 15px
}

.header__rightbutones__transparente {
  @include bottoneshead;
  margin-top: 35px;
  width: 70px;
}

.header__rightbutones {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-content: flex-end;
  padding: 20px;

 .header__rightbutones__black  {
    @include bottoneshead;
    background-color: black;
    color: white;
    margin-top: 35px;
  }

  .header__rightbutones__student {
    @include bottoneshead;
    color: black;
    margin-top: 35px;
    margin-right: 5px;
  }
}

.header__rightmenu {
  display: flex;
  
}

.header__rightbutones {
  display: none;
}

/* Landing page  main info */

.container__p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: $font-poppins;
  font-weight: 300;
  color: rgb(133, 133, 133);
}

.container__h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: $font-abril-fatface;
  letter-spacing: 2px;
}

/* Landing image pictures */

.container__media {
  display: flex;
  margin-right: 10px;
}

.container__media__image_of_piano {
  width: 100%;
  margin: auto;
  padding: 0px;
}

.container__media__icons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 88px;
  display: none;
}

.icons {
  width: 25px;
  height: 25px;
  background-color: white;
  margin: 20px;
  border-radius: 100%;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

.container__media__icons__images {
  padding: 6px;
}

/* botones */

.container____mainbutones {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0px;
  align-content: center;
  margin-bottom: 10px;

  .mainbutones__negro {
    background-color: black;
    color: white;
    margin: 5px;
    @include bottones;
  }

  .mainbutones__transparente {
    margin: 5px;
    @include bottones;
  }
}

.contact__container {
  width: 100%;
  height: 100%;
  position: relative;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.35) 100%
  );

  .title__container {
    display: flex;
    flex-direction: column;

    > .title__contact {
      font-family: $font-abril-fatface;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.8px;
      padding-top: 20px;
      text-align: center;
    }

    > .text__contact {
      font-family: $font-raleway;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.8px;
      padding-top: 20px;
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
    }
  }

  .form__container {
    display: flex;
    justify-content: center;
    padding: 20px;

    .form__contact {
      .form__label {
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.8px;
        width: 100%;
        height: 40px;
        padding-top: 10px;
      }

      .input-form__container {
        > input {
          background-color: $black-hover;
          width: 100%;
          height: 40px;
          border: #ffffff solid 1px;
          border-radius: 4px;
          color: white;
        }
      }
      > textarea {
        background-color: $black-hover;
        width: 100%;
        border: #ffffff solid 1px;
        border-radius: 4px;
        color: white;
      }
      .form__button {
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.8px;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        color: $white;
        background-color: $black;
        border-radius: 8px;
      }
    }
  }

  .bgImage__contact {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -40;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -40;
    }
  }
}

.layout__section {
  width: 100%;
  background: linear-gradient(
    177.96deg,
    rgba(255, 255, 255, 0.43) 1.72%,
    #6f6f6f 107.44%
  );
  > .card {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .logos__container {
      width: 138.67px;
      height: 195px;
      margin-bottom: 56px;
      .media__icons {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        .vector {
          position: absolute;
          margin: 6px 10px;
        }
      }
    }
    .us__container {
      width: 254px;
      margin-bottom: 24px;
      font-family: $font-poppins;
      font-size: 12px;
      line-height: 26px;
      font-style: normal;
      font-weight: 300;
    }
    .title {
      font-family: $font-abril-fatface;
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 12px;
    }
    .footer__contact-container {
      width: 240px;
      margin-bottom: 81px;
      font-family: $font-poppins;
      font-size: 12px;
      line-height: 18px;
      font-style: normal;
      font-weight: 300;
    }
    .location {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .brand__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  >.brand {
    font-family: $font-raleway;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    align-items: center;
    padding-bottom: 32px;
    .rights {
      font-size: 14px;
    }
  }
  .footer__container {
    margin: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  >.footer {
    width: 140px;
    font-family: $font-raleway;
    font-size: 14px;
    .heart {
      position: absolute;
      color: rgb(196, 0, 0);
      font-size: 13px;
      padding-left: 3.3px;
      padding-top: 1.9px;
    }
    .type__footer {
      margin: 0px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-weight: 700;
    }
  }
}

.type__container {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 0%,
    #f5f5f5 51.56%,
    rgba(245, 245, 245, 0) 100%
  );
  padding: 20px;
  > .type__title {
    font-weight: 400;
    text-align: center;
    font-family: $font-abril-fatface;
    font-size: 24px;
  }
  > .pianos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pianos__container > .pianos__box {
    background-color: $white;
    width: 230px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
    margin: 20px;
    padding: 20px 10px;
    > img {
      display: block;
      width: 80%;
      margin: auto;
    }
    .pianos__info-container {
      border-top: 2px dotted #dbdbdb;
      margin-top: 15px;
      > h5 {
        margin: 10px 0px;
        font-size: 16px;
        font-family: $font-abril-fatface;
        font-weight: 400;
      }
      .info__infodata {
        margin: 20px 0px 15px 0px;
        > .info__list {
          flex-direction: row;
          display: flex;
          padding-inline-start: 0px;
          justify-content: center;
          > .info__list-item {
            list-style-position: inside;
            font-size: 12px;
            font-family: $font-raleway;
          }
          .info__list-item::marker {
            margin-left: 0px;
            margin-right: 0px;
          }
          > .info__list-item.info__list-item--notdotted {
            list-style: none;
          }
        }
      }

      .pianos__buttons-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        > .button__price {
          background-color: $white;
          border-radius: 8px;
          padding: 10px;
          border: 1px solid $black;
          font-family: $font-raleway;
          font-size: 16px;
        }
        > .button__cart {
          background-color: $black;
          padding: 10px;
          vertical-align: middle;
          margin-left: 20px;
          border-radius: 8px;
          &:hover {
            background-color: $black-hover;
          }
        }
      }
    }
  }
  .button__container {
    display: flex;
    align-items: center;
    > .type__button--small {
      background-color: $black;
      color: $white;
      padding: 5px;
      width: 120px;
      border-radius: 8px;
      border: none;
      margin: 0 auto;
      &:hover {
        background-color: $black-hover;
      }
    }
  }
}

.main__container {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
}

  .main__title {
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    background-image: url("./assets/images/pianista.png");
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .fotografia__piano {
    margin: auto;
    width: 100%;
    height: 263.31px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/pianista2.png);
    background-repeat: no-repeat;
    background-size: cover;
  
  
  }

  .fotografia__piano > .piano__img {
    opacity: 1;
  }
  
  .nuevo__ebony {
    color: white;
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .container__group2282 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center; // Centrar horizontalmente
    align-items: center; // Centrar verticalmente
    margin-top: 10px;
    margin-bottom: 10px;
    
  
  }
  
  .desde {
    color: white;
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1px;
  }
  
  .texto__lorem {
    color: white;
    font-family: raleway;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .container__group2281 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }

  .lista__caracteristicas {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;
    margin-bottom: 30px;
  }

  .non_bullet {
    list-style: none;
  }

  .container__grupo2218 {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 5px;  
    width: 228px; /* Ajusta el valor según el ancho deseado */
    border-radius: 8px;
  }

.partners__container {
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
  padding-bottom: 110px;
  padding-top: 80px;
  > .partners__main-title {
    font-size: 24px;
    font-weight: 400;
    font-family: $font-abril-fatface;
    text-align: center;
  }
  > .partners__main-container {
    margin-top: 20px;
    > .partners__linecontainer {
      display: flex;
      flex-direction: column;
      margin: 5px;
      align-items: center;
      > .partners__single-box {
        width: 260px;
        height: 60px;
        background-color: black;
        margin: 5px;
        padding: 12px 5px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        .partners__title {
          color: $white;
          font-family: $font-raleway;
          font-size: 30px;
          font-weight: 400;
          font-variant: small-caps;
          margin-left: 30px;
        }
        > .partners__icon-box {
          background-color: gray;
          width: 70px;
          height: 70px;
          border-radius: 100%;
          border: 2px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      > .partners__single-box.partners__single-box--none {
        display: none;
      }
      >.partners__single-box.partners__single-box--rounded-right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      >.partners__single-box.partners__single-box--rounded-left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      >.partners__single-box.partners__single-box--invert-row {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  body {
  }
  .main__title {
    text-align: center;
    width: 100%;  
  }
  
  .main__title > h3 {
    display: inline;
    width: 470px;
  }
  
  
     .main__container {
      display: flex;
      flex-direction: row-reverse;
      background-image: url("./assets/images/pianista.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding: 180px 0;
     }
  
     .block__one.fotografia__piano {
      background-image: none;
     }
  
     .block__one.fotografia__piano > .piano__img {
      width: 508px;
     }
  
     .container__informacion {
      width: 700px;
      margin: 32px;
     }
  
     .container__informacion > .nuevo__ebony {
      text-align: left;
     }
  
    .container__group2282 {
      justify-content: left;
     }
  
     .desde {
      text-align: left;
     }
  
     .texto__lorem {
      text-align: left;
      padding: 0px;
      margin: 15px 0 ; 
     }
  
     .lista__caracteristicas {
      justify-content: left;
      padding-left: 0;
     }
  
     .container__grupo2218 {
      float: left;
     }

  .type__container {
    > .pianos__container {
      flex-direction: row;
      margin-top: 85px;
      justify-content: center;
      > .pianos__box {
        height: 220px;
        > img {
          position: relative;
          top: -95px;
        }
        .pianos__info-container {
          position: relative;
          top: -82px;
        }
      }
    }
  }
  .title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    > .title__contact {
      width: 50%;
    }
    > .text__contact {
      width: 50%;
    }
  }

  .form__container {
    > .form__contact {
      width: 50%;

      .form-input__container--inline {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

        .tel-input__container {
          width: 50%;
          padding-right: 10px;
        }

        .email-input__container {
          width: 50%;
          padding-left: 10px;
        }
      }
    }
  }

  .header__buttons {
    display: inline-block;
  }

  .container__media__icons {
    display: block;
  }

  .container__h1 {
    font-size: 56px;
    margin-bottom: 15px;
  }

  .container__media__image_of_piano {
    width: 80%;
    max-width: 50%;
  }

  .header__rightbutones {
    display: flex;
  }

  .partners__container {
    > .partners__main-container {
      > .partners__linecontainer {
        display: flex;
        flex-direction: row;
        margin: 5px;
        justify-content: center;
        > .partners__single-box {
          width: 280px;
          background-color: black;
          margin: 5px;
        }
        > .partners__single-box.partners__single-box--none {
          display: flex;
        }
        >.partners__single-box.partners__single-box--rounded-right:first-child {
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }
        >.partners__single-box.partners__single-box--rounded-right:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        >.partners__single-box.partners__single-box--rounded-left{
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
        }
      }
    }
  }
}

