@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact__container {
  width: 100vw;
  height: 100vh;
  position: relative;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.35) 100%
  );

  .title__container {
    display: flex;
    flex-direction: column;

    > .title__contact {
      font-family: $font-abril-fatface;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.8px;
      padding-top: 20px;
      text-align: center;
    }

    > .text__contact {
      font-family: $font-raleway;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.8px;
      padding-top: 20px;
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
    }
  }

  .form__container {
    display: flex;
    justify-content: center;
    padding: 20px;

    .form__contact {
      > .form__label {
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.8px;
        width: 100%;
        height: 40px;
        padding-top: 10px;
      }

      > input {
        background-color: $black-hover;
        width: 100%;
        height: 40px;
        border: #ffffff solid 1px;
        border-radius: 4px;
        color: white;
      }
      > textarea {
        background-color: $black-hover;
        width: 100%;
        border: #ffffff solid 1px;
        border-radius: 4px;
        color: white;
      }

      .form__button {
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.8px;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        color: $white;
        background-color: $black;
        border-radius: 8px;
      }
    }
  }

  .bgImage__contact {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -40;

    > img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -40;
    }
  }
}

@media only screen and (min-width: 992px) {

  form{

  }

}
