@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;500&family=Raleway:wght@300;400;500;700&display=swap");
* {
  margin: 0;
}

.layout__section {
  width: 100%;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
}

.card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logos__container {
  width: 138.67px;
  height: 195px;
  margin-bottom: 56px;
}
.logos__container .media__icons {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.logos__container .media__icons .vector {
  position: absolute;
  margin: 6px 10px;
}

.us__container {
  width: 254px;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;
}

.title {
  font-family: "Abril Fatface", cursive;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 12px;
}

.contact__container {
  width: 240px;
  margin-bottom: 81px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}

.location {
  font-size: 14px;
  line-height: 21px;
}

.brand__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.brand {
  font-family: "Raleway", sans-serif;
  width: 400px;
  font-size: 12px;
  font-weight: 300;
  align-items: center;
  padding-bottom: 32px;
}
.brand .rights {
  font-size: 14px;
}

.footer__container {
  margin: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 140px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.footer .heart {
  position: absolute;
  color: rgb(196, 0, 0);
  font-size: 13px;
  padding-left: 3.3px;
  padding-top: 1.9px;
}

.type__footer {
  margin: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
}

.type__container {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 51.56%, rgba(245, 245, 245, 0) 100%);
  padding: 20px;
}
.type__container > .type__title {
  font-weight: 400;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
}
.type__container > .pianos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type__container .pianos__container > .pianos__box {
  background-color: white;
  width: 230px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  margin: 20px;
  padding: 20px 10px;
}
.type__container .pianos__container > .pianos__box > img {
  display: block;
  width: 80%;
  margin: auto;
}
.type__container .pianos__container > .pianos__box .pianos__info-container {
  border-top: 2px dotted #dbdbdb;
  margin-top: 15px;
}
.type__container .pianos__container > .pianos__box .pianos__info-container > h5 {
  margin: 10px 0px;
  font-size: 16px;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .info__infodata {
  margin: 20px 0px 15px 0px;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .info__infodata > .info__list {
  flex-direction: row;
  display: flex;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  justify-content: center;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .info__infodata > .info__list > .info__list-item {
  list-style-position: inside;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .info__infodata > .info__list .info__list-item::marker {
  margin-left: 0px;
  margin-right: 0px;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .info__infodata > .info__list > .info__list-item.info__list-item--notdotted {
  list-style: none;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .pianos__buttons-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .pianos__buttons-container > .button__price {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .pianos__buttons-container > .button__cart {
  background-color: black;
  padding: 10px;
  vertical-align: middle;
  margin-left: 20px;
  border-radius: 8px;
}
.type__container .pianos__container > .pianos__box .pianos__info-container .pianos__buttons-container > .button__cart:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.type__container .button__container {
  display: flex;
  align-items: center;
}
.type__container .button__container > .type__button--small {
  background-color: black;
  color: white;
  padding: 5px;
  width: 120px;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}
.type__container .button__container > .type__button--small:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 992px) {
  .type__container > .pianos__container {
    flex-direction: row;
    margin-top: 85px;
    justify-content: center;
  }
  .type__container > .pianos__container > .pianos__box {
    height: 220px;
  }
  .type__container > .pianos__container > .pianos__box > img {
    position: relative;
    top: -95px;
  }
  .type__container > .pianos__container > .pianos__box .pianos__info-container {
    position: relative;
    top: -82px;
  }
}/*# sourceMappingURL=styles.css.map */