@import "vars";

* {
    margin: 0;
}
  

.container__grupo2280 {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
}

  .conoce__title {
    background-color: bisque;
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    background-image: url("./assets/images/Group\ 2238.png");
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .container__grupo2240 {
    margin: auto;
    width: 288px;
    height: 263.31px;
    backdrop-filter: blur(10px);
  
  }

  
  
  
  .nuevo__ebony {
    color: white;
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  
  .container__group2282 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
  
  }
  
  .desde {
    color: white;
    font-family: "abril fatface", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  
  .texto__lorem {
    color: white;
    font-family: raleway;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  
  .container__group2281 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
  
  .container__grupo2218 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
  
  }


















@media only screen and (min-width: 992px) {
    body {
        background-color: blue;
    }
}