@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;500&family=Raleway:wght@300;400;500;700&display=swap');
$black: black;
$white: white;
$black-hover: rgba(0, 0, 0, 0.75);
$font-abril-fatface: 'Abril Fatface', cursive;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;